<!DOCTYPE html>
<html>
<head>
    <title>Edit Task - Study Sync</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="center">
    <div class="card">
        <h2>Edit Task</h2>

        <form method="POST">

            <input type="text" name="title" value="{{ task['title'] }}" required>

            <input type="text" name="description" value="{{ task['description'] }}">

            <!-- Subject -->
            <select name="subject" required>
                <option {{ 'selected' if task['subject']=='Data Structures' else '' }}>Data Structures</option>
                <option {{ 'selected' if task['subject']=='DBMS' else '' }}>DBMS</option>
                <option {{ 'selected' if task['subject']=='Operating Systems' else '' }}>Operating Systems</option>
                <option {{ 'selected' if task['subject']=='Computer Networks' else '' }}>Computer Networks</option>
                <option {{ 'selected' if task['subject']=='Software Engineering' else '' }}>Software Engineering</option>
                <option {{ 'selected' if task['subject']=='AI/ML' else '' }}>AI/ML</option>
            </select>

            <input type="date" name="due_date" value="{{ task['due_date'] }}" required>

            <select name="priority">
                <option value="High" {{ 'selected' if task['priority']=='High' else '' }}>High</option>
                <option value="Medium" {{ 'selected' if task['priority']=='Medium' else '' }}>Medium</option>
                <option value="Low" {{ 'selected' if task['priority']=='Low' else '' }}>Low</option>
            </select>

            <button type="submit">Update Task</button>

        </form>

        <br>
        <a href="/tasks">⬅ Back</a>
    </div>
</div>

</body>
</html>